<h1><%= @article.title %></h1>
<%= @article.content %>

<form method="post" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" />
</form>


<!--<a href="/articles/<%= @car.id %>/edit" Edit this car </a> -->

